<a href="https://colab.research.google.com/github/deepiskp-99/DSA_Python_CaseStudy/blob/main/Deepika_Statistics_Casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Dataset: Monthly temperatures in a city (in Â°C): 12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10 Questions:**

**a) Calculate the mean temperature.**

**b) Calculate the median temperature.**

**c) Find the mode of the temperature data.**

**d) Range and Variance**

In [9]:
temps = [12, 15, 14, 16, 18, 20, 22, 19, 17, 15, 13, 10]

# mean
n = len(temps)
mean = sum(temps)/n

# median
sort_temps =sorted(temps)
if n % 2 == 0:
    median_temp = (sort_temps[n//2 - 1] + sort_temps[n//2]) / 2

# mode
freq = {}
for t in temps:
    freq[t] = freq.get(t, 0) + 1
mode_temp = max(freq, key=freq.get)

# range
maximum = max(temps)
minimum = min(temps)
range = maximum - minimum
variance = 0
for t in temps:
  variance += (t - mean) ** 2 / n


print("a) Mean value is:",mean)
print("b) Median value is:",median_temp)
print("c) Mode value is:",mode_temp)
print("d) Range is:",range)
print("e) Variance is:",variance)

a) Mean value is: 15.916666666666666
b) Median value is: 15.5
c) Mode value is: 15
d) Range is: 12
e) Variance is: 11.07638888888889

###**2. Dataset: Heights of students (in cm): 150, 160, 165, 170, 155, 160, 162, 168**
**Questions: a) Calculate the range of the heights.**

**b) Calculate the variance of the heights.**

**c) Standard Deviation**

In [19]:
heights = [150, 160, 165, 170, 155, 160, 162, 168]

# Range
max_hei = max(heights)
min_hei = min(heights)
Range = max_hei - min_hei

#variance
mean_hei = sum(heights)/len(heights)
var_hei = 0
for h in heights:
  var_hei += (h - mean_hei) ** 2 / len(heights)

#standard deviation
std_dev = var_hei ** 0.5

print(f"a) Range of Heights: {Range}")
print(f"b) Variance of Heights: {var_hei:.2f}")
print(f"c) Standard deviation is: {std_dev:.2f}")

a) Range of Heights: 20
b) Variance of Heights: 38.19
c) Standard deviation is: 6.18

###**3.Dataset: Weekly expenses (in $): 200, 250, 300, 220, 270, 290, 310**
**Questions: a) Calculate the standard deviation of the weekly expenses.**

In [20]:
Expenses = [200, 250, 300, 220, 270, 290, 310]

mean_exp = sum(Expenses) / len(Expenses)
var_exp = 0
for e in Expenses:
  var_exp += (e - mean_exp) ** 2 / len(Expenses)
std_dev_exp = var_exp ** 0.5

print(f"c) Standard deviation of weekly expensive is: {std_dev_exp:.2f}")

c) Standard deviation of weekly expensive is: 38.44

###**4. Dataset: Advertising Spending (in $1000s): 10, 20, 15, 25, 30;Sales(in**
**$1000s): 100, 150, 120, 180, 200**
**Questions: a) Calculate the covariance between advertising spending and sales**
**b) Correlation**

In [1]:
x = [10, 20, 15, 25, 30]
y = [100, 150, 120, 180, 200]

n = len(x)

total_x = sum(x)
total_y = sum(y)

total_xy = sum(x[i]*y[i] for i in range(n))
total_x_sq = sum(xi**2 for xi in x)
total_y_sq = sum(yi**2 for yi in y)
cov = (total_xy - (total_x*total_y) / n) / (n - 1)

std_x = ((total_x_sq - (total_x**2) / n) / (n-1)) ** 0.5
std_y = ((total_y_sq - (total_y**2) / n) / (n-1)) ** 0.5

cor = cov / (std_x * std_y)

print(f"a) Covariance between x and y: {cov}")
print(f"b) Correlation is: {cor}")

a) Covariance between x and y: 325.0
b) Correlation is: 0.9970544855015816

###**5. Dataset: Study Hours: 2, 4, 6, 8, 10; Exam Scores: 55, 60, 65, 70, 75**
**Questions: a) Calculate the correlation coefficient between study hours and exam scores.**

**b) Interpret the result.**

**c) Quartiles and IQR**

In [2]:
s = [2, 4, 6, 8, 10]
e = [55, 60, 65, 70, 75]

n = len(s)
sum_s = sum(s)
sum_e = sum(e)

sum_se = sum(s[i]*e[i] for i in range(n))
sum_s_sq = sum(si**2 for si in s)
sum_e_sq = sum(ei**2 for ei in e)
cov = (sum_se - (sum_s*sum_e) / n) / (n - 1)

std_s = ((sum_s_sq - (sum_s**2) / n) / (n-1)) ** 0.5
std_e = ((sum_e_sq - (sum_e**2) / n) / (n-1)) ** 0.5
cor = cov / (std_s * std_e)

data_s = sorted(s)
data_e= sorted(e)

Q1_ind= (n // 4)
Q3_ind = (3 * n) // 4
Q1 = data_s[Q1_ind - 1]
Q3 = data_s[Q3_ind - 1]
IQR_s = Q3 - Q1


Q11_ind= (n // 4)
Q31_ind = (3 * n) // 4
Q11 = data_e[Q11_ind - 1]
Q31 = data_e[Q31_ind - 1]
IQR_e = Q31 - Q11

print(f"Correlation between s and e is: {cor}")
print("This correlation is Highly Positive.")
print("Quartiles => 1.Study Hour:",Q1,"to",Q3)
print("Quartiles => 2.Exam Score:",Q11,"to",Q31)
print("IQR => 1.Study Hour:",IQR_s)
print("IQR => 2.Exam Score:",IQR_e)

Correlation between s and e is: 1.0
This correlation is Highly Positive.
Quartiles => 1.Study Hour: 2 to 6
Quartiles => 2.Exam Score: 55 to 65
IQR => 1.Study Hour: 4
IQR => 2.Exam Score: 10

###**6. Dataset: Monthly savings (in $): 200, 300, 400, 500, 600, 700, 800, 900, 1000,1100**
**Questions: a) Calculate the first quartile (Q1) and third quartile (Q3).**

**b) Calculate the interquartile range (IQR).**

**c) Detecting Outliers**

In [8]:
sav = [200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100]
sav_n = sorted(sav)

n = len(sav)
Q_1 = n // 4
Q_3 = 3 * (n) // 4
Q1 = sav_n[Q_1 - 1]
Q3 = sav_n[Q_3 - 1]
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR
out_l = [x for x in sav if x < lower or x > upper]

print("Quartiles =>",Q1,"and",Q3)
print("IQR =>",IQR)
print("Outliers:", out_l if out_l else "No outliers")

Quartiles => 300 and 800
IQR => 500
Outliers: No outliers

###**7. Dataset: Ages of employees: 22, 25, 28, 30, 35, 40, 45, 50, 55, 100**
**Questions: a) Identify any outliers using the IQR method.**

In [4]:
age = [22, 25, 28, 30, 35, 40, 45, 50, 55, 100]

age_n = sorted(age)

n = len(age)
Q_a1 = n // 4
Q_a3 = 3 * (n) // 4
Q_1 = age_n[Q_a1 - 1]
Q_3 = age_n[Q_a3 - 1]
IQR = Q_3 - Q_1

lower_a = Q_1 - 1.5 * IQR
upper_a = Q_3 + 1.5 * IQR
out_l = [x for x in age if x < lower_a or x > upper_a]

print("Outliers:", out_l if out_l else "No outliers")

Outliers: [100]

###**9. Dataset: Sample weights (in kg) of a new diet program: 70, 68, 72, 71, 69, 73,72, 74, 70, 71**
**Questions: a) Test the hypothesis that the mean weight after the diet program is equal to 70 kg at a 5% significance level.**

**b) Z-Scores**

In [5]:
weight = [70, 68, 72, 71, 69, 73, 72, 74, 70, 71]
n_w= len(weight)
m_w= sum(weight)/n_w

var_w = 0
var_w = sum((w - m_w) ** 2 for w in weight) / (n_w - 1)
std_w = var_w ** 0.5
t_stat = (m_w - 70) / (std_w / (n_w ** 0.5))

degree_freedom = n_w - 1
t_critical = 2.262  #when alpha = 0.05
if(t_stat) < t_critical:
  print("Reject Null Hypothesis")
else:
  print("Accept Null Hypothesis")

z_scores = [(x - m_w) / std_w for x in weight]

print("Mean:", m_w)
print("Std Dev:", std_w)
print("t-statistic:", t_stat)
print("Z-scores:", z_scores)

Reject Null Hypothesis
Mean: 71.0
Std Dev: 1.8257418583505538
t-statistic: 1.7320508075688774
Z-scores: [-0.5477225575051661, -1.6431676725154982, 0.5477225575051661, 0.0, -1.0954451150103321, 1.0954451150103321, 0.5477225575051661, 1.6431676725154982, -0.5477225575051661, 0.0]

###**10. Dataset: Annual salaries of employees (in $1000s): 40, 42, 45, 47, 50, 52, 55,57, 60, 62**
**Questions: a) Calculate the z-scores for each salary.**

**b) Interpret the z-scores.**

**c) Normal Distribution**

In [6]:
salaries = [40, 42, 45, 47, 50, 52, 55, 57, 60, 62]
me_an = sum(salaries)/len(salaries)
var = sum((x - me_an) ** 2 for x in salaries) / (len(salaries) - 1)
std_dev = var ** 0.5
z_scores = [(x - me_an)/std_dev for x in salaries]

print("Salary | Deviation | Z-score")

for i in range(len(salaries)):
  print(f"{salaries[i]} | {salaries[i] - me_an} | {z_scores[i]:.2f}")
print("\nMean =", round(me_an, 3))
print("Standard Deviation =", round(std_dev, 3))
print(f"Z-scores: {z_scores}")

Salary | Deviation | Z-score
40 | -11.0 | -1.46
42 | -9.0 | -1.20
45 | -6.0 | -0.80
47 | -4.0 | -0.53
50 | -1.0 | -0.13
52 | 1.0 | 0.13
55 | 4.0 | 0.53
57 | 6.0 | 0.80
60 | 9.0 | 1.20
62 | 11.0 | 1.46

Mean = 51.0
Standard Deviation = 7.528
Z-scores: [-1.4612645611411572, -1.1955800954791287, -0.7970533969860858, -0.5313689313240572, -0.1328422328310143, 0.1328422328310143, 0.5313689313240572, 0.7970533969860858, 1.1955800954791287, 1.4612645611411572]

###**11.Dataset: Scores of students in a standardized test: 85, 87, 90, 92, 95, 97,100, 102, 105, 107**

**a) Fit a normal distribution to the data and calculate the mean and standard deviation.**

In [7]:
scores = [85, 87, 90, 92, 95, 97, 100, 102, 105, 107]
mean = sum(scores) / len(scores)
var = sum((x - mean) ** 2 for x in scores) / (len(scores) - 1)
std_dev = var ** 0.5
print("Mean is :",mean)
print("Standard Deviation is :",std_dev)

Mean is : 96.0
Standard Deviation is : 7.52772652709081