<a href="https://colab.research.google.com/github/deepiskp-99/DSA_Python_CaseStudy/blob/main/Deepika_Pandas_casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Import pandas, numpy

In [ ]:
import pandas as pd
import numpy as np

2) Load dataset using pd.read_csv()

In [ ]:
url ="https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/IMDB-Movie-Data.csv"
df = pd.read_csv(url)

3) Display: shape, head, column names, datatypes, missing value

In [6]:
df.shape

(1000, 12)

In [ ]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [7]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [8]:
df.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [9]:
df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

4) Check and remove duplicates

In [10]:
duplicate_count = df.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

df[df.duplicated()].head()

df = df.drop_duplicates()

print("Shape after removing duplicates:", df.shape)

Number of duplicate rows: 0
Shape after removing duplicates: (1000, 12)

5) Rename columns ("Title" > "Movie_Title")

In [11]:
df = df.rename(columns={'Title':'Movie_Title'})

print(df.columns)

Index(['Rank', 'Movie_Title', 'Genre', 'Description', 'Director', 'Actors',
       'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

6) Get unique genres

In [12]:
unique_genres = (
    df['Genre']
    .str.split(',')
    .explode()
    .unique()
)
print(unique_genres)

['Action' 'Adventure' 'Sci-Fi' 'Mystery' 'Horror' 'Thriller' 'Animation'
 'Comedy' 'Family' 'Fantasy' 'Drama' 'Music' 'Biography' 'Romance'
 'History' 'Crime' 'Western' 'War' 'Musical' 'Sport']

7) Extract number of genres per movie

In [13]:
no_of_genres_per_movie = df['Genre'].str.split(',').str.len()
print(no_of_genres_per_movie)

0      3
1      3
2      2
3      3
4      3
      ..
995    3
996    1
997    3
998    2
999    3
Name: Genre, Length: 1000, dtype: int64

In [14]:
no_of_genres_per_movie = df['Genre'].apply(lambda x: len(x.split(',')))

df['num_genres'] = no_of_genres_per_movie

print(df[['Movie_Title', 'Genre', 'num_genres']].head())

               Movie_Title                     Genre  num_genres
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi           3
1               Prometheus  Adventure,Mystery,Sci-Fi           3
2                    Split           Horror,Thriller           2
3                     Sing   Animation,Comedy,Family           3
4            Suicide Squad  Action,Adventure,Fantasy           3

8) Handle missing values in 'Revenue (Millions)' and 'Metascore

In [15]:
print(df[['Revenue (Millions)', 'Metascore']].isnull().sum())

Revenue (Millions)    128
Metascore              64
dtype: int64

In [16]:
df['Revenue (Millions)'] = df['Revenue (Millions)'].fillna(0)
df['Metascore'] = df['Metascore'].fillna(df['Metascore'].median())


print(df[['Revenue (Millions)', 'Metascore']].isnull().sum())

Revenue (Millions)    0
Metascore             0
dtype: int64

9) Top 5 movies by Rating

In [17]:
Top_five_rating = df.sort_values(by='Rating', ascending=False).head(5)
print(Top_five_rating[['Movie_Title', 'Rating']])

          Movie_Title  Rating
54    The Dark Knight     9.0
80          Inception     8.8
117            Dangal     8.8
36       Interstellar     8.6
249  The Intouchables     8.6

10) Movies with highest/lowest revenue

In [18]:
highest_revenue_movie_index = df['Revenue (Millions)'].idxmax()
lowest_revenue_movie_index = df['Revenue (Millions)'].idxmin()

print("Movie with highest revenue : ",df.loc[highest_revenue_movie_index])
print("\n\nMovie with lowest revenue : ",df.loc[lowest_revenue_movie_index])

Movie with highest revenue :  Rank                                                                 51
Movie_Title                  Star Wars: Episode VII - The Force Awakens
Genre                                          Action,Adventure,Fantasy
Description           Three decades after the defeat of the Galactic...
Director                                                    J.J. Abrams
Actors                Daisy Ridley, John Boyega, Oscar Isaac, Domhna...
Year                                                               2015
Runtime (Minutes)                                                   136
Rating                                                              8.1
Votes                                                            661608
Revenue (Millions)                                               936.63
Metascore                                                          81.0
num_genres                                                            3
Name: 50, dtype: object


Movie with lowest revenue :  Rank                                                                  8
Movie_Title                                                    Mindhorn
Genre                                                            Comedy
Description           A has-been actor best known for playing the ti...
Director                                                     Sean Foley
Actors                Essie Davis, Andrea Riseborough, Julian Barrat...
Year                                                               2016
Runtime (Minutes)                                                    89
Rating                                                              6.4
Votes                                                              2490
Revenue (Millions)                                                  0.0
Metascore                                                          71.0
num_genres                                                            1
Name: 7, dtype: object

11) Avg. rating by Director

In [19]:
avg_rating_by_director = df.groupby('Director')['Rating'].mean()
print(avg_rating_by_director)

Director
Aamir Khan             8.50
Abdellatif Kechiche    7.80
Adam Leon              6.50
Adam McKay             7.00
Adam Shankman          6.30
                       ...
Xavier Dolan           7.55
Yimou Zhang            6.10
Yorgos Lanthimos       7.20
Zack Snyder            7.04
Zackary Adler          5.10
Name: Rating, Length: 644, dtype: float64

12) Movies per year

In [20]:
movies_per_year = df['Year'].value_counts()
print(movies_per_year)

Year
2016    297
2015    127
2014     98
2013     91
2012     64
2011     63
2010     60
2007     53
2008     52
2009     51
2006     44
Name: count, dtype: int64

13) Movies with rating > 8 & revenue > 100M

In [21]:
filtered_movies = df[(df['Rating'] > 8 )& (df['Revenue (Millions)'] > 100)]
print(filtered_movies[['Movie_Title', 'Rating', 'Revenue (Millions)']])

                                      Movie_Title  Rating  Revenue (Millions)
0                         Guardians of the Galaxy     8.1              333.13
6                                      La La Land     8.3              151.06
36                                   Interstellar     8.6              187.99
50     Star Wars: Episode VII - The Force Awakens     8.1              936.63
54                                The Dark Knight     9.0              533.32
67                             Mad Max: Fury Road     8.1              153.63
74                                       Zootopia     8.1              341.26
76                                   The Avengers     8.1              623.28
77                           Inglourious Basterds     8.3              120.52
80                                      Inception     8.8              292.57
82                        The Wolf of Wall Street     8.2              116.87
83                                      Gone Girl     8.1              167.74
92                                       The Help     8.1              169.71
99                                   The Departed     8.5              132.37
114  Harry Potter and the Deathly Hallows: Part 2     8.1              380.96
124                         The Dark Knight Rises     8.5              448.13
138                                Shutter Island     8.1              127.97
144                              Django Unchained     8.4              162.80
241                                    Inside Out     8.2              356.45
427                          The Bourne Ultimatum     8.1              227.14
499                                            Up     8.3              292.98
634                                        WALLE     8.4              223.81
645                                   Gran Torino     8.2              148.09
688                                   Toy Story 3     8.3              414.98
772                      How to Train Your Dragon     8.1              217.39

14) Group by Director: avg Rating, Revenue

In [22]:
Group_by_Director = df.groupby('Director')[['Rating', 'Revenue (Millions)']].mean()
print(Group_by_Director)

                     Rating  Revenue (Millions)
Director
Aamir Khan             8.50               1.200
Abdellatif Kechiche    7.80               2.200
Adam Leon              6.50               0.000
Adam McKay             7.00             109.535
Adam Shankman          6.30              78.665
...                     ...                 ...
Xavier Dolan           7.55               1.745
Yimou Zhang            6.10              45.130
Yorgos Lanthimos       7.20               4.405
Zack Snyder            7.04             195.148
Zackary Adler          5.10               6.530

[644 rows x 2 columns]

15) Group by Year: count, avg Rating

In [23]:
Group_by_Year = df.groupby('Year').agg({'Rating': 'mean', 'Movie_Title': 'count'})
print(Group_by_Year)

        Rating  Movie_Title
Year
2006  7.125000           44
2007  7.133962           53
2008  6.784615           52
2009  6.960784           51
2010  6.826667           60
2011  6.838095           63
2012  6.925000           64
2013  6.812088           91
2014  6.837755           98
2015  6.602362          127
2016  6.436700          297

16) Create a new column Profitability:
a) Revenue divided by Duration
b) Find top 10 most profitable movies

In [24]:
df['Profitability'] = df['Revenue (Millions)']/df['Runtime (Minutes)']
top_10_profitable_movies = df.sort_values(by = 'Profitability',ascending = False).head(10)
print(top_10_profitable_movies[['Movie_Title' , 'Profitability']])

                                    Movie_Title  Profitability
50   Star Wars: Episode VII - The Force Awakens       6.886985
85                               Jurassic World       5.259516
119                                Finding Dory       5.013299
87                                       Avatar       4.694506
76                                 The Avengers       4.358601
15                      The Secret Life of Pets       4.233448
688                                 Toy Story 3       4.028932
12                                    Rogue One       4.001278
174                                      Frozen       3.928824
797                             Despicable Me 2       3.755612

17) Create a column that categorizes movies by rating:
a) Rating < 6: Poor
b) 6  Rating < 7.5: Average
c) Rating  7.5: Excellent

In [25]:
def categorize_rating(r):
    if r < 6:
        return 'Poor'
    elif r < 7.5:
        return 'Average'
    else:
        return 'Excellent'

df['Rating_Category'] = df['Rating'].apply(categorize_rating)

print(df[['Movie_Title', 'Rating', 'Rating_Category']].head(10))

               Movie_Title  Rating Rating_Category
0  Guardians of the Galaxy     8.1       Excellent
1               Prometheus     7.0         Average
2                    Split     7.3         Average
3                     Sing     7.2         Average
4            Suicide Squad     6.2         Average
5           The Great Wall     6.1         Average
6               La La Land     8.3       Excellent
7                 Mindhorn     6.4         Average
8       The Lost City of Z     7.1         Average
9               Passengers     7.0         Average

18) Create a custom function to score movies based on:
i) Apply row['Rating'] * 10 + row['Revenue (Millions)'] as High score
Apply a function to dataset to assign the score

In [26]:
def score_movie(row):
  return row['Rating'] * 10 + row['Revenue (Millions)']

df['score'] = df.apply(score_movie , axis =1)
print(df[['Movie_Title', 'score']])

                 Movie_Title   score
0    Guardians of the Galaxy  414.13
1                 Prometheus  196.46
2                      Split  211.12
3                       Sing  342.32
4              Suicide Squad  387.02
..                       ...     ...
995     Secret in Their Eyes   62.00
996          Hostel: Part II   72.54
997   Step Up 2: The Streets  120.01
998             Search Party   56.00
999               Nine Lives   72.64

[1000 rows x 2 columns]